.preview-text-editor-wrapper {
  .language-javascript {
    // padding-left: 5px !important;
    // padding-right: 5px !important;
    // background-color: rgba(0, 0, 0, 0.05) !important;
    // width: 100%;
  }
  pre {
    margin-bottom: 10px;
    width: 100%;
  }
  .hljs-number {
    color: #9cdcfe;
  }
  .hljs-keyword {
    color: #07a;
  }
  .hljs-string {
    color: #690;
  }
  .hljs-title {
    color: #dd4a68;
  }
  code {
    background-color: #000a2029;
    border: 1px solid #0000000d;
    border-radius: 5px;
    color: #262626db;
  }
  ul {
    padding-left: 25px;
  }
  li {
    list-style-type: square;
  }
}
