.ant-tree-switcher {
  &::before {
    display: none !important;
  }
  svg {
    display: none;
  }
}
.ant-tree-node-content-wrapper {
  &:hover {
    background-color: transparent !important;
  }
}
.ant-tree-treenode-selected .ant-tree-node-selected {
  background-color: transparent !important;
}
