.list-comment-editor-wrapper {
  .text-editor-wraper {
    // background-color: white !important;
    .tox-tinymce {
      min-height: 200px !important;
    }
    .tox-statusbar {
      // display: none !important;
      .tox-statusbar__branding {
        display: none !important;
      }
      .tox-statusbar__path-item {
        display: none !important;
      }
    }
  }
  .tox-statusbar {
    // display: none !important;
    .tox-statusbar__branding {
      display: none !important;
    }
    .tox-statusbar__path-item {
      display: none !important;
    }
  }
}
