.preview-panel_wrapper {
  .ant-tabs-nav {
    margin: 0 !important;
    height: 48px;
  }
  .ant-tabs-content-holder {
    display: flex;
    flex: auto;
    .ant-tabs-content {
      flex: auto;
      .ant-tabs-tabpane {
        height: 100%;
      }
    }
  }
}
