// .minimap {
//   display: none !important;
// }
.view-lines {
  width: 100% !important;
}
.pre-wrapper {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  max-width: 100%;
}
.preview-text-editor-wrapper {
  max-width: 100%;
  overflow-x: auto;
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
}
.code-editor-wrapper {
  .ant-select-selector {
    border: none !important;
  }
  .ant-select-outlined {
    border: none !important;
  }

  .rc-virtual-list-holder-inner {
    display: grid !important;
    grid-template-columns: auto auto auto !important;
  }
}
