@use '../abstracts/mixin' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './_config.scss';
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Scrollbar
html *::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: rgb(138, 138, 138);
}

html *::-webkit-scrollbar-track {
  background-color: rgba(202, 202, 202, 1);
}
html *::-webkit-scrollbar-thumb:hover {
  transition: all 0.2s;
  cursor: pointer;
  background-color: rgba(73, 73, 73, 1);
  html *::-webkit-scrollbar-track {
    background-color: rgba(170, 146, 146);
  }
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif !important;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -0.3px;
  overflow-y: overlay;
  scroll-behavior: smooth;
}
body.light-mode {
  transition-duration: 300ms;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s ease;
  .card {
    background-color: #fff;
    color: #333;
    border: 1px solid #f5f5f5;
    &.active {
      background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%),
        radial-gradient(at top left, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
      background-blend-mode: screen;
      color: white !important;
    }
  }
  .bg-gradient-editprofile {
    background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%);
  }
  .comment-card {
    background-color: #fcfcfc !important;
    border: none !important;
  }
  .box {
    background-color: #fff;
    color: #333;
    border: 1px solid #f5f5f5;
  }
  .line {
    background-color: black;
  }
  .left-message {
    background-color: #f0f0f0 !important;
    color: white !important;
  }
  html *::-webkit-scrollbar-thumb {
    border-radius: 0.4rem;
    background-color: rgba(0, 0, 0, 0.15) !important;
  }

  html *::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .link-hover:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
  .active-link {
    background-color: rgba(0, 0, 0, 0.12);
  }
  .input-mode {
    background-color: #f0f0f0 !important;
    color: black;
    transition: background-color 0.3s ease;
  }
  .tag {
    background-color: #dbeafe !important;
    color: #5373cd !important;
  }
  .sub-title {
    color: rgb(104, 104, 104) !important;
    font-weight: 500;
  }
  code {
    background-color: #f7f9fa;
    border: 1px solid #0000000d;
    border-radius: 5px;
    color: #262626db;
  }
  .tox-toolbar__group:last-child {
    color: white;
  }
  .bg-thumbnail {
    background-color: rgb(209, 213, 219);
  }
  .contribute-color {
    background-color: rgb(201, 201, 201) !important;
  }
}

body.dark-mode {
  transition-duration: 300ms;

  background-color: rgb(26, 27, 28);
  color: white;
  .contribute-color {
    background-color: gray !important;
  }
  .sub-title {
    color: rgb(202, 202, 202) !important;
    font-weight: 500;
  }
  .ant-layout-content {
    color: white !important;
  }
  .ant-typography {
    color: white;
  }
  .header-wraper {
    background-color: rgb(40, 40, 40);
  }
  .left-message {
    background-color: rgb(48, 48, 48);
    color: white !important;
  }
  .card {
    background-color: rgb(40, 40, 40);
    color: white;
    border: 1px solid rgb(48, 48, 48);
    &.active {
      background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
        linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
      background-blend-mode: multiply;
      color: white !important;
    }
  }
  .comment-card {
    background-color: rgb(48, 48, 48) !important;
  }

  .box {
    background-color: rgb(40, 40, 40);
    color: white;
    border: 1px solid rgb(48, 48, 48);
  }
  .line {
    background-color: white;
  }
  .ant-badge-count {
    color: white !important;
    border: none !important;
  }
  .link-hover:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  .active-link {
    background-color: rgba(255, 255, 255, 0.12);
  }
  html *::-webkit-scrollbar-thumb {
    border-radius: 0.4rem;
    background-color: rgba(209, 209, 209, 0.15);
  }

  html *::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
  }
  .input-mode {
    background-color: rgba(209, 209, 209, 0.15) !important;
    color: white !important;
    transition: background-color 0.3s ease;
  }
  .ant-popover-inner {
    background-color: rgb(40, 40, 40) !important;
    color: white !important;
    border: 1px solid rgb(48, 48, 48);
  }

  a:hover {
    color: #21a1d3;
  }
  .login-btn {
    background-color: #21a1d3 !important;
    transition-duration: 200ms;
  }
  .login-btn:hover {
    background-color: #48bae0 !important;
  }
  .tox-statusbar {
    background-color: rgb(40, 40, 40) !important;
  }
  .tox {
    .tox-edit-area::before {
      border: 2px solid rgb(110, 110, 110);
    }
    .tox-menu {
      background-color: rgb(40, 40, 40) !important;
    }
    .tox-dialog {
      background-color: rgb(40, 40, 40) !important;
      .tox-dialog__header {
        background-color: rgb(45, 45, 45) !important;
      }
      .tox-listbox {
        background-color: rgb(45, 45, 45) !important;
      }
      .tox-textarea {
        background-color: rgb(45, 45, 45) !important;
      }
    }
    .tox-toolbar__group:last-child {
      color: white;
    }
  }

  .tox-dialog__footer {
    background-color: rgb(40, 40, 40) !important;
  }
  .tox-textfield {
    background-color: rgb(45, 45, 45) !important;
  }
  .tox-editor-header {
    background-color: rgb(40, 40, 40) !important;
    .tox-menubar {
      background-color: rgb(40, 40, 40) !important;
      .tox-mbtn {
        background-color: rgb(40, 40, 40) !important;
      }
      .tox-mbtn:hover {
        background-color: rgb(87, 87, 87) !important;
      }
    }
    .tox-toolbar__primary {
      background-color: rgb(40, 40, 40) !important;
    }
    .tox-tbtn {
      background-color: rgb(40, 40, 40) !important;
    }
    .tox-tbtn--enabled {
      background-color: rgb(87, 87, 87) !important;
    }
    .tox-tbtn:hover {
      background-color: rgb(87, 87, 87) !important;
    }
    .tox-toolbar-overlord {
      background-color: rgb(19, 19, 19) !important;
    }
  }
  .tox-tinymce {
    border: 2px solid rgb(54, 54, 54) !important;
  }
  .selected-tab {
    background-color: rgba(139, 137, 137, 0.8) !important;
  }
  .not-selected-tab {
    background-color: rgb(40, 40, 40) !important;
  }
  .tag {
    background-color: #4c96f7 !important;
    color: white !important;
  }
  code {
    background-color: #474747;
    border: 1px solid #0000000d;
    border-radius: 5px;
    color: #f1f1f1db;
  }
}
.bg-thumbnail {
  background-color: rgb(77, 77, 77);
}
.preview-text-editor-wrapper {
  .language-javascript {
    // padding-left: 5px !important;
    // padding-right: 5px !important;
    // background-color: rgba(0, 0, 0, 0.05) !important;
    // width: 100%;
  }

  .hljs-number {
    color: #9cdcfe;
  }
  .hljs-keyword {
    color: #07a;
  }
  .hljs-string {
    color: #690;
  }
  .hljs-title {
    color: #dd4a68;
  }

  ul {
    padding-left: 25px;
  }
  li {
    list-style-type: square;
  }
}
.avatar-wrapper {
  .ant-image-mask {
    border-radius: 100% !important;
  }
}
